header{
	background-image: url(img/checo.png);
	background-size: cover;
	background-position: center;
	min-height: 500px;
}

@media screen and (max-width: 670px){
	header{
		min-height: 500px;
	}
}

form.SearchBar{
  padding-left: 15%;
}

.buttonContainer{
  padding-top: 2%;
}
